$title-color: #292f36;
$text-color: #4d5053;
// font-family: "DM Serif Display", serif;
// font-family: "Inter", sans-serif;

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1235px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: "Jost", sans-serif;
    letter-spacing: 0.22px;
    font-size: 22px;
    line-height: 33px;
    font-weight: 400;
}

.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        padding-top: 26px;
        margin-bottom: 38px;
    }
    &__list {
        display: flex;
        li + li {
            margin-left: 40px;
        }
        a {
            transition: all 0.3s;
        }
        a:hover {
            color: #cda274;
        }
        .link-active {
            color: #cda274;
        }
    }
    &__content {
        background-image: url("../images/header/header-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        min-height: 100vh;
    }
    &__content-title {
        font-family: "DM Serif Display", serif;
        padding-top: 180px;
        margin-bottom: 19px;
        color: $title-color;
        font-size: 80px;
        line-height: 96px;
        font-weight: 400;
        max-width: 595px;
    }
    &__content-text {
        color: $text-color;
        font-size: 22px;
        line-height: 33px;
        max-width: 577px;
        margin-bottom: 68px;
    }
    &__content-link {
        display: inline-block;
        border: 2px solid #292f36;
        border-radius: 18px;
        background-color: #292f36;
        padding: 22px 67px 22px 34px;
        position: relative;
        color: #fff;
    }
    &__content-link::after {
        content: "";
        background-image: url("../images/icon/icon-arrov.svg");
        background-repeat: no-repeat;
        width: 207px;
        height: 71px;
        position: absolute;
        left: 160px;
        top: 20px;
    }
}

.opportunities {
    padding-top: 100px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item-title {
        color: $title-color;
        font-family: "DM Serif Display", serif;
        text-align: center;
        font-weight: 400;
        font-size: 25px;
        line-height: 39px;
        margin-bottom: 19px;
    }
    &__item-text {
        color: $text-color;
        max-width: 317px;
        text-align: center;
        margin-bottom: 35px;
    }
    &__item-link {
        text-align: center;
        letter-spacing: 0.36px;
        font-size: 18px;
        line-height: 27px;
        position: relative;
        color: $text-color;
    }
    &__item-link::after {
        content: "";
        background-image: url("../images/icon/icon-arrov2.svg");
        background-repeat: no-repeat;
        position: absolute;
        width: 22px;
        height: 16px;
        right: 80px;
        top: 6px;
    }
}

.projects {
    padding-top: 100px;
    margin-bottom: 140px;
    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 77px;
    }
    &__content {
        padding-top: 27px;
    }
    &__content-title {
        color: $title-color;
        max-width: 450px;
        margin-bottom: 42px;
        font-weight: 400;
        font-size: 50px;
        line-height: 65px;
        font-family: "DM Serif Display", serif;
    }
    &__content-text {
        color: $text-color;
        line-height: 33px;
        margin-bottom: 40px;
    }
    &__content-box {
        display: flex;
        gap: 20px;
    }
    &__content-list {
        padding-top: 10px;
    }
    &__content-phone {
        width: 93px;
        height: 93px;
        background-color: #f4f0ec;
        border-radius: 100px;
        padding: 29px 29px 30px 30px;
        display: inline-block;
        margin-bottom: 50px;
    }
    &__content-number {
        color: #4d5053;
        font-size: 24px;
        line-height: 36px;
    }
    &__content-descr {
        color: #4d5053;
        font-size: 22px;
        line-height: 33px;
    }
    &__content-link {
        display: block;
        background-color: #292f36;
        border: 2px solid #292f36;
        border-radius: 18px;
        max-width: 263px;
        padding: 21px 67px 23px 34px;
        color: #fff;
        letter-spacing: 0.72px;
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
        position: relative;
    }
    &__content-link::after {
        content: "";
        position: absolute;
        background-image: url("../images/icon/icon-arrov.svg");
        background-repeat: no-repeat;
        right: 35px;
        top: 15px;
        width: 29px;
        height: 40px;
    }
}

.about {
    &__inner {
        background-color: #f4f0ec;
        border-radius: 70px;
    }
    &__title {
        padding-top: 103px;
        text-align: center;
        color: $title-color;
        font-weight: 400;
        font-size: 45px;
        line-height: 58px;
        font-family: "DM Serif Display", serif;
        max-width: 479px;
        margin: 0 auto;
    }
    &__box {
        display: flex;
        justify-content: center;
        gap: 17px;
        padding-top: 45px;
        padding-bottom: 120px;
    }
    &__box-item {
        background-color: #ffffff;
        border-radius: 30px;
        max-width: 364px;
        padding: 50px 79px 45px 35px;
    }
    &__item-list {
        display: inline-block;
        margin-left: 20px;
        position: relative;
        top: -15px;
    }
    &__item-title {
        color: $title-color;
        font-weight: 400;
        font-size: 25px;
        line-height: 38px;
        font-family: "DM Serif Display", serif;
    }
    &__item-descr {
        color: $text-color;
        font-size: 18px;
        line-height: 27px;
    }
    &__item-text {
        color: $text-color;
        font-size: 20px;
        line-height: 30px;
        max-width: 244px;
    }
    &__brand {
        padding-top: 139px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
    }
}

.resent {
    &__inner {
        padding-top: 115px;
    }

    &__title {
        color: $title-color;
        text-align: center;
        font-weight: 400;
        font-size: 47px;
        line-height: 62px;
        font-family: "DM Serif Display", serif;
        margin-bottom: 20px;
    }

    &__text {
        text-align: center;
        color: $text-color;
        max-width: 710px;
        margin: 0 auto;
    }

    &__box {
        padding-top: 70px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }

    &__box-item{
        margin-bottom: 60px;
    }

    &__box-item:nth-child(3){
        margin-bottom: 0;
    }

    &__box-item:nth-child(4){
        margin-bottom: 0;
    }

    &__item-img {
        margin-bottom: 24px;
    }

    &__item-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__box-title {
        color: $title-color;
        font-weight: 400;
        font-size: 24px;
        line-height: 38px;
        font-family: "DM Serif Display", serif;
    }

    &__box-descr {
        color: $text-color;
    }

    &__box-link {
        background-color: #f4f0ec;
        border-radius: 100px;
        display: inline-block;
        padding: 27px 35px 27px 41px;
    }
}
