$title-color: #292f36;
$text-color: #4d5053;
// font-family: "DM Serif Display", serif;
// font-family: "Inter", sans-serif;

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1235px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: "Jost", sans-serif;
    letter-spacing: 0.22px;
    font-size: 22px;
    line-height: 33px;
    font-weight: 400;
}

.header {
    &__inner {
        display: flex;
        justify-content: space-between;
        padding-top: 26px;
        margin-bottom: 38px;
    }
    &__list {
        display: flex;
        li + li {
            margin-left: 40px;
        }
        a {
            transition: all 0.3s;
        }
        a:hover {
            color: #cda274;
        }
        .link-active {
            color: #cda274;
        }
    }
    &__content {
        background-image: url("../images/header/header-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        min-height: 100vh;
    }
    &__content-title {
        font-family: "DM Serif Display", serif;
        padding-top: 180px;
        margin-bottom: 19px;
        color: $title-color;
        font-size: 80px;
        line-height: 96px;
        font-weight: 400;
        max-width: 595px;
    }
    &__content-text {
        color: $text-color;
        font-size: 22px;
        line-height: 33px;
        max-width: 577px;
        margin-bottom: 68px;
    }
    &__content-link {
        display: inline-block;
        border: 2px solid #292f36;
        border-radius: 18px;
        background-color: #292f36;
        padding: 22px 67px 22px 34px;
        position: relative;
        color: #fff;
    }
    &__content-link::after {
        content: "";
        background-image: url("../images/icon/icon-arrov.svg");
        background-repeat: no-repeat;
        width: 207px;
        height: 71px;
        position: absolute;
        left: 160px;
        top: 20px;
    }
}

.opportunities {
    padding-top: 100px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item-title {
        color: $title-color;
        font-family: "DM Serif Display", serif;
        text-align: center;
        font-weight: 400;
        font-size: 25px;
        line-height: 39px;
        margin-bottom: 19px;
    }
    &__item-text {
        color: $text-color;
        max-width: 317px;
        text-align: center;
        margin-bottom: 35px;
    }
    &__item-link {
        text-align: center;
        letter-spacing: 0.36px;
        font-size: 18px;
        line-height: 27px;
        position: relative;
        color: $text-color;
    }
    &__item-link::after {
        content: "";
        background-image: url("../images/icon/icon-arrov2.svg");
        background-repeat: no-repeat;
        position: absolute;
        width: 22px;
        height: 16px;
        right: 80px;
        top: 6px;
    }
}

.projects {
    padding-top: 100px;
    margin-bottom: 140px;
    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 77px;
    }
    &__content {
        padding-top: 27px;
    }
    &__content-title {
        color: $title-color;
        max-width: 450px;
        margin-bottom: 42px;
        font-weight: 400;
        font-size: 50px;
        line-height: 65px;
        font-family: "DM Serif Display", serif;
    }
    &__content-text {
        color: $text-color;
        line-height: 33px;
        margin-bottom: 40px;
    }
    &__content-box {
        display: flex;
        gap: 20px;
    }
    &__content-list {
        padding-top: 10px;
    }
    &__content-phone {
        width: 93px;
        height: 93px;
        background-color: #f4f0ec;
        border-radius: 100px;
        padding: 29px 29px 30px 30px;
        display: inline-block;
        margin-bottom: 50px;
    }
    &__content-number {
        color: #4d5053;
        font-size: 24px;
        line-height: 36px;
    }
    &__content-descr {
        color: #4d5053;
        font-size: 22px;
        line-height: 33px;
    }
    &__content-link {
        display: block;
        background-color: #292f36;
        border: 2px solid #292f36;
        border-radius: 18px;
        max-width: 263px;
        padding: 21px 67px 23px 34px;
        color: #fff;
        letter-spacing: 0.72px;
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
        position: relative;
    }
    &__content-link::after {
        content: "";
        position: absolute;
        background-image: url("../images/icon/icon-arrov.svg");
        background-repeat: no-repeat;
        right: 35px;
        top: 15px;
        width: 29px;
        height: 40px;
    }
}

.about {
    &__inner {
        background-color: #f4f0ec;
        border-radius: 70px;
    }
    &__title {
        padding-top: 103px;
        text-align: center;
        color: $title-color;
        font-weight: 400;
        font-size: 45px;
        line-height: 58px;
        font-family: "DM Serif Display", serif;
        max-width: 479px;
        margin: 0 auto;
    }
    &__box {
        display: flex;
        justify-content: center;
        gap: 17px;
        padding-top: 45px;
        padding-bottom: 120px;
    }
    &__box-item {
        background-color: #ffffff;
        border-radius: 30px;
        max-width: 364px;
        padding: 50px 79px 45px 35px;
    }
    &__item-list {
        display: inline-block;
        margin-left: 20px;
        position: relative;
        top: -15px;
    }
    &__item-title {
        color: $title-color;
        font-weight: 400;
        font-size: 25px;
        line-height: 38px;
        font-family: "DM Serif Display", serif;
    }
    &__item-descr {
        color: $text-color;
        font-size: 18px;
        line-height: 27px;
    }
    &__item-text {
        color: $text-color;
        font-size: 20px;
        line-height: 30px;
        max-width: 244px;
    }
    &__brand {
        padding-top: 139px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
    }
}

.resent {
    &__inner {
        padding-top: 115px;
    }

    &__title {
        color: $title-color;
        text-align: center;
        font-weight: 400;
        font-size: 47px;
        line-height: 62px;
        font-family: "DM Serif Display", serif;
        margin-bottom: 20px;
    }

    &__text {
        text-align: center;
        color: $text-color;
        max-width: 710px;
        margin: 0 auto;
    }

    &__box {
        padding-top: 70px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
    }

    &__box-item {
        margin-bottom: 60px;
    }

    &__box-item:nth-child(3) {
        margin-bottom: 0;
    }

    &__box-item:nth-child(4) {
        margin-bottom: 0;
    }

    &__item-img {
        margin-bottom: 24px;
    }

    &__item-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__box-title {
        color: $title-color;
        font-weight: 400;
        font-size: 24px;
        line-height: 38px;
        font-family: "DM Serif Display", serif;
    }

    &__box-descr {
        color: $text-color;
    }

    &__box-link {
        background-color: #f4f0ec;
        border-radius: 100px;
        display: inline-block;
        padding: 27px 35px 27px 41px;
    }

    &__count {
        background-color: #f4f0ec;
        margin-top: 140px;
    }

    &__count-wrapper {
        display: flex;
        justify-content: center;
        gap: 45px;
        padding-top: 140px;
        padding-bottom: 140px;
    }

    &__count-item {
        border-right: 1px solid #cda274;
        padding-right: 85px;
    }

    &__count-item:nth-child(4) {
        border-right: none;
    }

    &__count-number {
        color: #cda274;
        display: block;
        letter-spacing: 1.7px;
        font-size: 85px;
        line-height: 128px;
        font-family: "DM Serif Display", serif;
        font-weight: 400;
        text-align: center;
    }

    &__count-text {
        color: $text-color;
        text-align: center;
        // padding-right: 55px;
    }
}

.blogs {
    padding-top: 143px;
    &__inner {
    }

    &__title {
        color: $title-color;
        text-align: center;
        font-weight: 400;
        font-size: 48px;
        line-height: 62px;
        font-family: "DM Serif Display", serif;
        margin-bottom: 21px;
    }

    &__text {
        color: $text-color;
        text-align: center;
        max-width: 560px;
        margin: 0 auto;
    }

    &__box {
        padding-top: 70px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__box-item {
        border: 1px solid #e7e7e7;
        border-radius: 62px;
        max-width: 387px;
        padding: 21px 21px 40px 21px;
        position: relative;
        margin-bottom: 40px;
    }

    &__box-item:nth-child(n + 4) {
        margin-bottom: 141px;
    }

    &__box-img {
        display: block;
        margin-bottom: 15px;
    }

    &__box-descr {
        display: inline-block;
        color: $text-color;
        font-size: 16px;
        line-height: 24px;
        position: absolute;
        background-color: #ffffff;
        border-radius: 8px 8px 8px 0px;
        padding: 9px 10px 11px 10px;
        top: 240px;
        left: 43px;
    }

    &__box-title {
        color: $title-color;
        letter-spacing: 0.5px;
        font-weight: 400;
        font-size: 25px;
        line-height: 35px;
        font-family: "DM Serif Display", serif;
        margin-bottom: 10px;
        max-width: 334px;
    }

    &__box-wrapp {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__box-date {
        letter-spacing: 0.22px;
        color: $text-color;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }

    &__box-link {
        background-color: #f4f0ec;
        border-radius: 100px;
        padding: 18px 30px 18px 30px;
    }
}

.contact {
    &__inner {
        background-color: #292f36;
        border-radius: 70px;
    }

    &__title {
        color: #fff;
        text-align: center;
        font-weight: 400;
        font-size: 50px;
        line-height: 75px;
        font-family: "DM Serif Display", serif;
        padding-top: 100px;
        margin-bottom: 9px;
    }

    &__text {
        color: #fff;
        text-align: center;
        margin-bottom: 31px;
    }

    &__link {
        text-align: center;
        padding-bottom: 95px;
        position: relative;
        a {
            background-color: #cda274;
            border: 2px solid #cda274;
            box-shadow: 1px 0px 18px rgba(0, 0, 0, 0.2);
            border-radius: 18px;
            color: #fff;
            letter-spacing: 0.22px;
            font-size: 18px;
            line-height: 27px;
            padding: 21px 68px 23px 34px;
        }
        a::before {
            content: "";
            background-image: url("../images/icon/icon-arrov4.svg");
            background-repeat: no-repeat;
            position: absolute;
            right: 495px;
            top: 0;
            width: 28px;
            height: 40px;
        }
    }
}

.footer {
    padding-top: 130px;
    padding-bottom: 110px;
    &__inner {
        display: flex;
        gap: 30px;
    }

    &__logo {
        margin-bottom: 15px;
    }

    &__text {
        color: $text-color;
        max-width: 362px;
        margin-bottom: 9px;
    }

    &__social {
        display: flex;
    }

    &__social-item + &__social-item {
        margin-left: 40px;
    }
    &__box-right {
        display: flex;
        gap: 110px;
    }
    &__pages-item,
    &__explore-item,
    &__contact-item {
        span {
            color: $title-color;
            letter-spacing: 0.22px;
            font-size: 25px;
            line-height: 38px;
            font-family: "DM Serif Display", serif;
            display: inline-block;
            margin-bottom: 21px;
        }
        a {
            color: $text-color;
            letter-spacing: 0.22px;
            margin-bottom: 30px;
            display: inline-block;
        }
    }

    &__contact-item:nth-child(2) {
        color: $text-color;
        letter-spacing: 0.22px;
        margin-bottom: 29px;
    }
    &__bottom{
        border-top: 1px solid #E5E5E5;
        margin-top: 110px;
        padding-top: 35px;
        text-align: center;
        a{
            color: $text-color;
            font-weight: 400;
            span{
                color: #CDA274;

            }
        }
    }
}