html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1235px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Jost", sans-serif;
  letter-spacing: 0.22px;
  font-size: 22px;
  line-height: 33px;
  font-weight: 400;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  margin-bottom: 38px;
}
.header__list {
  display: flex;
}
.header__list li + li {
  margin-left: 40px;
}
.header__list a {
  transition: all 0.3s;
}
.header__list a:hover {
  color: #cda274;
}
.header__list .link-active {
  color: #cda274;
}
.header__content {
  background-image: url("../images/header/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  min-height: 100vh;
}
.header__content-title {
  font-family: "DM Serif Display", serif;
  padding-top: 180px;
  margin-bottom: 19px;
  color: #292f36;
  font-size: 80px;
  line-height: 96px;
  font-weight: 400;
  max-width: 595px;
}
.header__content-text {
  color: #4d5053;
  font-size: 22px;
  line-height: 33px;
  max-width: 577px;
  margin-bottom: 68px;
}
.header__content-link {
  display: inline-block;
  border: 2px solid #292f36;
  border-radius: 18px;
  background-color: #292f36;
  padding: 22px 67px 22px 34px;
  position: relative;
  color: #fff;
}
.header__content-link::after {
  content: "";
  background-image: url("../images/icon/icon-arrov.svg");
  background-repeat: no-repeat;
  width: 207px;
  height: 71px;
  position: absolute;
  left: 160px;
  top: 20px;
}

.opportunities {
  padding-top: 100px;
}
.opportunities__inner {
  display: flex;
  justify-content: space-between;
}
.opportunities__item-title {
  color: #292f36;
  font-family: "DM Serif Display", serif;
  text-align: center;
  font-weight: 400;
  font-size: 25px;
  line-height: 39px;
  margin-bottom: 19px;
}
.opportunities__item-text {
  color: #4d5053;
  max-width: 317px;
  text-align: center;
  margin-bottom: 35px;
}
.opportunities__item-link {
  text-align: center;
  letter-spacing: 0.36px;
  font-size: 18px;
  line-height: 27px;
  position: relative;
  color: #4d5053;
}
.opportunities__item-link::after {
  content: "";
  background-image: url("../images/icon/icon-arrov2.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 22px;
  height: 16px;
  right: 80px;
  top: 6px;
}

.projects {
  padding-top: 100px;
  margin-bottom: 140px;
}
.projects__inner {
  display: flex;
  justify-content: space-between;
  gap: 77px;
}
.projects__content {
  padding-top: 27px;
}
.projects__content-title {
  color: #292f36;
  max-width: 450px;
  margin-bottom: 42px;
  font-weight: 400;
  font-size: 50px;
  line-height: 65px;
  font-family: "DM Serif Display", serif;
}
.projects__content-text {
  color: #4d5053;
  line-height: 33px;
  margin-bottom: 40px;
}
.projects__content-box {
  display: flex;
  gap: 20px;
}
.projects__content-list {
  padding-top: 10px;
}
.projects__content-phone {
  width: 93px;
  height: 93px;
  background-color: #f4f0ec;
  border-radius: 100px;
  padding: 29px 29px 30px 30px;
  display: inline-block;
  margin-bottom: 50px;
}
.projects__content-number {
  color: #4d5053;
  font-size: 24px;
  line-height: 36px;
}
.projects__content-descr {
  color: #4d5053;
  font-size: 22px;
  line-height: 33px;
}
.projects__content-link {
  display: block;
  background-color: #292f36;
  border: 2px solid #292f36;
  border-radius: 18px;
  max-width: 263px;
  padding: 21px 67px 23px 34px;
  color: #fff;
  letter-spacing: 0.72px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  position: relative;
}
.projects__content-link::after {
  content: "";
  position: absolute;
  background-image: url("../images/icon/icon-arrov.svg");
  background-repeat: no-repeat;
  right: 35px;
  top: 15px;
  width: 29px;
  height: 40px;
}

.about__inner {
  background-color: #f4f0ec;
  border-radius: 70px;
}
.about__title {
  padding-top: 103px;
  text-align: center;
  color: #292f36;
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  font-family: "DM Serif Display", serif;
  max-width: 479px;
  margin: 0 auto;
}
.about__box {
  display: flex;
  justify-content: center;
  gap: 17px;
  padding-top: 45px;
  padding-bottom: 120px;
}
.about__box-item {
  background-color: #ffffff;
  border-radius: 30px;
  max-width: 364px;
  padding: 50px 79px 45px 35px;
}
.about__item-list {
  display: inline-block;
  margin-left: 20px;
  position: relative;
  top: -15px;
}
.about__item-title {
  color: #292f36;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  font-family: "DM Serif Display", serif;
}
.about__item-descr {
  color: #4d5053;
  font-size: 18px;
  line-height: 27px;
}
.about__item-text {
  color: #4d5053;
  font-size: 20px;
  line-height: 30px;
  max-width: 244px;
}
.about__brand {
  padding-top: 139px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.resent__inner {
  padding-top: 115px;
}
.resent__title {
  color: #292f36;
  text-align: center;
  font-weight: 400;
  font-size: 47px;
  line-height: 62px;
  font-family: "DM Serif Display", serif;
  margin-bottom: 20px;
}
.resent__text {
  text-align: center;
  color: #4d5053;
  max-width: 710px;
  margin: 0 auto;
}
.resent__box {
  padding-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
.resent__box-item {
  margin-bottom: 60px;
}
.resent__box-item:nth-child(3) {
  margin-bottom: 0;
}
.resent__box-item:nth-child(4) {
  margin-bottom: 0;
}
.resent__item-img {
  margin-bottom: 24px;
}
.resent__item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resent__box-title {
  color: #292f36;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  font-family: "DM Serif Display", serif;
}
.resent__box-descr {
  color: #4d5053;
}
.resent__box-link {
  background-color: #f4f0ec;
  border-radius: 100px;
  display: inline-block;
  padding: 27px 35px 27px 41px;
}
.resent__count {
  background-color: #f4f0ec;
  margin-top: 140px;
}
.resent__count-wrapper {
  display: flex;
  justify-content: center;
  gap: 45px;
  padding-top: 140px;
  padding-bottom: 140px;
}
.resent__count-item {
  border-right: 1px solid #cda274;
  padding-right: 85px;
}
.resent__count-item:nth-child(4) {
  border-right: none;
}
.resent__count-number {
  color: #cda274;
  display: block;
  letter-spacing: 1.7px;
  font-size: 85px;
  line-height: 128px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  text-align: center;
}
.resent__count-text {
  color: #4d5053;
  text-align: center;
}

.blogs {
  padding-top: 143px;
}
.blogs__title {
  color: #292f36;
  text-align: center;
  font-weight: 400;
  font-size: 48px;
  line-height: 62px;
  font-family: "DM Serif Display", serif;
  margin-bottom: 21px;
}
.blogs__text {
  color: #4d5053;
  text-align: center;
  max-width: 560px;
  margin: 0 auto;
}
.blogs__box {
  padding-top: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.blogs__box-item {
  border: 1px solid #e7e7e7;
  border-radius: 62px;
  max-width: 387px;
  padding: 21px 21px 40px 21px;
  position: relative;
  margin-bottom: 40px;
}
.blogs__box-item:nth-child(n+4) {
  margin-bottom: 141px;
}
.blogs__box-img {
  display: block;
  margin-bottom: 15px;
}
.blogs__box-descr {
  display: inline-block;
  color: #4d5053;
  font-size: 16px;
  line-height: 24px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 8px 8px 8px 0px;
  padding: 9px 10px 11px 10px;
  top: 240px;
  left: 43px;
}
.blogs__box-title {
  color: #292f36;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  font-family: "DM Serif Display", serif;
  margin-bottom: 10px;
  max-width: 334px;
}
.blogs__box-wrapp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blogs__box-date {
  letter-spacing: 0.22px;
  color: #4d5053;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.blogs__box-link {
  background-color: #f4f0ec;
  border-radius: 100px;
  padding: 18px 30px 18px 30px;
}/*# sourceMappingURL=style.css.map */